<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color:#1c1c21;
        }
        #system_title {
            color: azure;
            margin-top: 100px;
            font-size: xx-large;
        }
    </style>
</head>
<body>
    <div id="system_title" class="d-flex justify-content-center align-items-center">
        <div class="container text-center">
            <p>Mario and Luigi's Systems</p>
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="container text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <button href="/website_main.html" class="btn btn-success btn-lg">Website</button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-light btn-lg">Counter</button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-danger btn-lg">Kitchen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>