<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mario and Luigi's Pizzaria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="path/to/bootstrap.min.css">
    <link rel="stylesheet" href="/static/website_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <style>
        body {
            overflow: auto;
        }
    </style>
</head>
<body style="background-image: url('/static/background.jpg'); background-size: cover;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="/static/logo.png" alt="ML Pizza">
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/website_main">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="menu">Menu</a>
                </li>
                    <li><a href="/cart" class="cart"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </div>
    </nav>
    <body>
        <!-- ... -->
        <div class="menu">
            <h2 id="menu_title">PIZZA AND DRINKS</h2>
            <div class="menu-row">
                <div id="margherita_pic" class="menu-item" data-item-number="1">
                    <h3>Margherita</h3>
                    <p>Tomato sauce, mozzarella cheese, and fresh basil.</p>
                    <p class="price">$12.99</p>
                    <a href="/cart" class="special-button">Add to Order</a>
                </div>
                <div id="pepperoni_pic" class="menu-item" data-item-number="2">
                    <h3>Pepperoni</h3>
                    <p>Tomato sauce, mozzarella cheese, and pepperoni slices.</p>
                    <p class="price">$14.99</p>
                    <a href="/cart" class="special-button">Add to Order</a>
                </div>
            </div>
            <div class="menu-row">
                <div class="menu-item" data-item-number="3" id="marinara_pic">
                    <h3>Marinara</h3>
                    <p>Tomato sauce, garlic, and oregano (no cheese).</p>
                    <p class="price">$10.99</p>
                    <a href="/cart" class="special-button">Add to Order</a>
                </div>
                <div class="menu-item" data-item-number="4" id="meatlovers_pic">
                    <h3>Meat Lovers</h3>
                    <p>Pepperoni, Italian sausage, ham, bacon, seasoned pork & beef.</p>
                    <p class="price">$19.99</p>
                    <a href="/cart" class="special-button">Add to Order</a>
                </div>
                <div class="menu-item" data-item-number="5" id="water_pic">
                    <h3>Water</h3>
                    <p>500ml bottle of still water.</p>
                    <p class="price">$1.99</p>
                    <a href="/cart" class="special-button">Add to Order</a>
                </div>
                <div class="menu-item" data-item-number="6" id="cola_pic">
                    <h3>Coca-Cola</h3>
                    <p>330ml can of Coca-Cola.</p>
                    <p class="price">$3.99</p>
                    <a href="/cart" class="special-button">Add to Order</a>
                </div>
            </div>
        </div>
    
    </body>
</body>
</html>